.container{
    width: 100vw;
    height: 100vh;
    text-align: center;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.container .valid-keys{
    font-size: 10rem;
    font-weight: bold;
    min-width: 600px;
    border-bottom: 2px solid #fff;
}
.container .valid-keys .matched{
    background-color: #fdf8c5;
    color: #282c34;
}
.container .valid-keys .remainder{
    opacity: .5;
}

.container .completed-words{
    width: max-content;
    height: 100vh;
    overflow-y: scroll;
    position: fixed;
    top:0;
    right: 0;
    text-align: left;
    padding: 20px 40px;
    font-size: 1.3rem;
    line-height: 1.8rem;
    opacity: .5;
}
.container .typed_keys{
    margin-top: 20px;
    font-size: .9rem;
    width: 600px;
    overflow:hidden;
}